name: Linting and Formatting

on:
  push:
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8', '3.9', '3.10', '3.11', '3.12']

    steps:
    - uses: actions/checkout@v4
    - name: Set up OnAIR conda environment
      uses: conda-incubator/setup-miniconda@v3
      with:
        activate-environment: onair
        environment-file: environment_dev.yml
        channels: conda-forge, nodefaults
        python-version: ${{ matrix.python-version }}
        auto-activate-base: false
        miniforge-version: latest
    - name: Confirm no defaults post install
      run: conda config --show channels
    - name: Lint Project
      shell: bash -l {0}
      run: |
        conda config --remove channels defaults
        pylint onair plugins test
    - name: Check Formatting
      shell: bash -l {0}
      run: black --check .
    - name: Confirm no defaults
      run: conda config --show channels
